*{
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
html, body{
	width: 100%;
}
.nome{
	font-size: 30px;
	margin: 10px;
	color: black;
}
.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2%;
	border-radius: 90px;

}
body{
	background-color: lightgreen;
}
nav .nome{
	width: 90%;
}
main{
	background-color: white;
	max-width: 450px;
	margin: 0 auto 80px;
	padding: 50px;
	color: black;
	border-radius: 20px;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 100px;
}
main form h1{
	margin: 10px 0 20px 0;
	font-size: 40px;
}
main form .entrar > input{
	width: 100%;
	outline: none;
	border: none;
	height: 45px;
	background-color: #ffffff;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	color: #1cbaa4;
	border-radius: 50px;
	border: solid 2px lightgreen;
}

input::placeholder{
	color: lightgreen;
}
.btn1{
	width: 100%;
	outline: none;
	border: none;
	height: 45px;
	margin-top: 20px;
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	background-color: lightgreen;
	font-weight: bold;
	cursor: pointer;
	color: white;
}
body div main ul{
	list-style: none;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
body div main ul li{
	width: 100%;
	padding: 10px 0;
}
body div main ul li a{
	padding: 10px;
	border-radius: 3px;
	font-size: 16px;
	background-color: lightgreen;
	text-decoration: none;
	color: black;
	text-align: center;
}
.dividir{
	background-color: lightgreen;
	width: 100%;
	height: 4px;
	display: none;
}
.footer-login{
	padding: 20px;
	background-color: white;
}
.footer-login .duvidas{
	max-width: 1000px;
	margin: 0 auto;
}
.footer-login .duvidas .meios{
	display: flex;
	margin-top: 25px;
	margin-bottom: 20px;
}
.duvidas .meios ul{
	list-style: none;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.duvidas .meios ul li{
	width: 25%;
	padding: 10px 0;
}
.duvidas .meios ul li a{
	color: gray;
	text-decoration: none;
}
#message{
	width: 100%;
	padding: 10px 0;
}